/* yellow color: #c4a93e */
body {
    background-color: #f3f3f3 !important;
    font-family: 'Open Sans Condensed', sans-serif;
}
#body{
    background-color: white;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    padding-top: 160px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#header {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.active{
    background-color: #ffffff;
    border-radius: 4px;
}
.nav-item{
    color: black;
}
.navbar-collapse{
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
}
.tinytext{
    padding-top: 0;
    margin-top: 0;
    font-size: 0.8rem;
}
.text{
    padding: 20px;
}
.rounded{
    border-radius: 10px;
}
#body a:hover{
    opacity: .5;
}
.comparetitle{
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    bottom: 0;
    color: black;
}
#tableseperator{
    padding-top: 6rem;
}
.col{
    padding-top: 30px;
}
#titlecol{
    padding: 0 0;
}
.table{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.table .col{
    text-align: center;
    font-size: 1.1rem;
}


#carouselExampleIndicators{
    width: 700px;
    border-radius: 10px;
    max-width: 100%;
    height: 70%;
    margin: 0 auto;
    overflow: hidden;
}
#body h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-bottom: 0;
    padding: 0 20px;
}
#body h2{
    margin-top: 0;
    font-size: 1.35rem;
    background-color: white;
    padding-left: 20px;
}
.padding20{
    padding: 0 20px;
}
.smallwrap{
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
}
#body hr{
    margin-top: 0;
    height: 5px;
    background-color: black;
}
.textwrap{
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
}
#optionshead{
    font-size: 1.8rem;
}
.textwrap ol{
    font-size: 1.35rem;
}
#seperator{
    padding-top: 40px;
}
.widewrap{
    width: 800px;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
}
.homecta{
    height: auto;
    min-height: 60px;
    padding: 0 32px;
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}
#datinbtn{
    border: none;
    background-color: #c4a93e;
}
#meetinbtn{
    border: none;
    background-color: #2432A8;
}
#registerhead{
    font-size: 1.7rem;
    padding-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
.homecta:active {
    outline: none;
}
#registernow{
    border: none;
    background-color: #2432A8;
}
#insta{
    border: 3px solid  #C13584;
    background-color: transparent;
    color:  #C13584;
}
#joinbtn{
    border: none;
    background-color: #2331A8;
}

.results{
    background-color: white;
    padding: 20px 40px 0 40px;
}
.percentcaption{
    display: flex;
    justify-content: left;
    left: 20px;
    top: 20px;
    font-size: 20px;
}
.percent{
    display: flex;
    justify-content: left;
    font-size: 60px;
    font-weight: bolder;
    color: #c4a93e;
    font-family: 'Roboto Slab', serif;
}
.amtraised{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.amtraised a{
    position: relative;
    top: -2px;
}
.results h3{
    text-align: center;
    font-size: 4rem;
    color: #c4a93e;
    margin: 0 0 0 0;
    font-family: 'Roboto Slab', serif;
}
.about{
    line-height: 1.8em;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 40px;
}
.center{
    text-align: center;
}
#ted{
    padding-bottom: 100px;
    margin-left: 10%;
}
#ted img{
    width: 200px;
    max-width: 40%;
    float: left;
}
#quotesrc{
    position: relative;
    top: 20px;
    font-size: 1.5rem;
}

.videowrap{
    padding: 0 5%;
}
.video{
    border-radius: 10px;
}
#backbutton{
    float: left;
    position: relative;
    top: 200px;
}
#nextbutton{
    float: right;
    position: relative;
    top: 200px;
}

@media (min-width: 576px){
    .results h3{
        font-size: 6rem;
    }
    .comparetitle{
        height: auto;
        padding: 0 20px;
    }
    #quotesrc{
        font-size: 2rem;
        padding: 40px;
    }
    #header{
        font-size: 2.4rem;
    }
    #body h1{
        font-size: 2rem;
    }
}